<% content_for :script do %>	
	<script>
		$(document).ready(function() {
			var startDate = null; //keeps track of the trip startDate when day cards get reordered
			
			//enables day card reordering via drag and drop, and reorders dates as needed
			$(function() {
			    $( "#days" ).sortable({
				  start: function( event, ui ) {
					// remember original startdate before sort in case first day gets reordered
					startDate = getCurrentStartDate();
				},
				  stop: function( event, ui ) {
					//only update dates upon reorder if there is a valid startDate set					
					if (startDate) { 
						updateDates(startDate);
						
						//reset the startDate variable so an outdated one never gets used
						startDate = null; 
					} 
					else {
						// in this case, startDate var isn't set, so make sure nothing appears in date fields
						$('.day-date').empty(); 
						
						//move the default date to the first day in the trip
						$('.day-date:first').html("Today"); 
					}
					
					//move the datepicker to the first day in the trip
					$('.day-date-wrapper:first').append($('#startDatepicker')); 
				  }
				});
			    $( "#days" ).disableSelection();
			  });
			
			//creates a new day column upon click of Add Day button
			$('#addDayButton')
				.click(function() {
 					var d = addDayCard();
					//setModalDefaultValues(d);
					//$('#dayModal').modal('show');
			});
						
			/*********** deprecated: day details modal ****************
			//brings up the edit day details modal
			$('.day-card')
				.click(function() {
					setModalDefaultValues(this);
					$('#dayModal').modal('show');
					
				});
				
			//save button on modal propagates changes to the associated day details card and dismisses the modal
			$('#saveDayDetailsButton')
				.click(function() {												
					saveDayDetails($('#correspondingItem').attr('value'));
					$('#dayModal').modal('hide');
				});
				
			//removes associated day details card and dismisses modal
			$('#deleteDayButton')
				.click(function() {												
					$('#dayModal').modal('hide');
					deleteDay($('#correspondingItem').attr('value'));
				});	
				
			//when day details modal is dismissed, reset textbox values in modal and assign values to day card
			$('#dayModal').on('hidden.bs.modal', function () {
				clearModalValues();
			});
			
			
			//initiates the datepicker in the modal; dismisses it when date is chosen by user
			$('#datepicker').datepicker()
				.on('changeDate', function(ev) {
					$('#datepicker').datepicker('hide');
				});
			*/
			
			//initiates the datepicker above the first card for the start date
			//when user changes trip start date, dates for all days in the trip get updated
			$('#startDatepicker').datepicker()
				.on('changeDate', function(ev) {
					var d = new Date(ev.date);
					$('#startDatepicker').datepicker('hide');
					updateDates(d);
					//send request to update startdate of trip
					$.ajax({
						url: '<%= trip_path @trip %>',
						type: 'put',
						data: { 'name' : 'startdate', 'value' : ev.date }
					});
			});
				
			//turn editability to inline mode
			$.fn.editable.defaults.mode = 'inline';
			
			//turn on inline editing for all cities in day cards
			enableInlineEditingForAllDays();

			//turn on inline editing for trip name
			$('#tripname').editable({
				type: 'text',
				pk: 1,
				name: 'tripname',
				url: '<%= trip_path @trip %>',
				ajaxOptions: {
					type: 'put',
					dataType: 'json'
				},
				emptytext: "My Awesome Trip"
			});
		});
	</script>
<% end %>

<div>
	<h5 id="tripname"><%= @trip.tripname %></h5>
</div>

<div id="days">

  <div class='day-card-wrapper'>
	<div class="day-date-wrapper">
		<span class="day-date" data-date="" data-elementID='date-1'><%= @trip.startdate.to_formatted_s(:day_then_date) || 'Today' %></span>
		<span class="fa fa-calendar" id="startDatepicker" ></span>
	</div>
			
	 <div class="card day-card" data-itemnum='1'>
		<div class="city">
			<h4 data-elementID="city-1" data-type="text" data-pk="1" data-url="" data-title="City"></h4>
		</div>
		<div class="notes">
			<small><p data-elementID="notes-1" data-type="textarea" data-pk="1" data-url="" data-title="Notes" data-rows='4'>
			</p></small>
		</div>
		<div class="hotel">
			<p data-elementID="hotel-1" data-type="text" data-pk="1" data-url="" data-title="Hotel">
				Jaipur Hotel
			</p>
		</div>
	 </div>
  </div>

  <div class='day-card-wrapper'>
	  <div class="day-date-wrapper">
			<span class="day-date" data-date="" data-elementID='date-2'></span>
	  </div>
	  <div class="card day-card" data-itemnum='2'>
		<div class="city">
			<h4 data-elementID="city-2" data-type="text" data-pk="1" data-url="" data-title="City">
				Jaipur 2
			</h4>
		</div>
		<div class="notes">
			<small><p data-elementID="notes-2" data-type="textarea" data-pk="1" data-url="" data-title="Notes" data-rows='4'>
			</p></small>
		</div>
		<div class="hotel">
			<p data-elementID="hotel-2" data-type="text" data-pk="1" data-url="" data-title="Hotel">
				Jaipur Hotel
			</p>
		</div>
	  </div>
  </div>

  <div class='day-card-wrapper'>
	  <div class="day-date-wrapper">
			<span class="day-date"data-date="" data-elementID='date-3'></span>
	  </div>
	  <div class="card day-card" data-itemnum='3'>
		<div class="city">
			<h4 data-elementID="city-3" data-type="text" data-pk="1" data-url="" data-title="City">
				Bundi
			</h4>
		</div>
		<div class="notes">
			<small><p data-elementID="notes-3" data-type="textarea" data-pk="1" data-url="" data-title="Notes" data-rows='4'>
			</p></small>
		</div>
		<div class="hotel">
			<p data-elementID="hotel-3" data-type="text" data-pk="1" data-url="" data-title="Hotel">
				Bundi Hotel
			</p>
		</div>
	  </div>
  </div>
  
  <div class='day-card-wrapper'>  
	  <div class="day-date-wrapper">
			<span class="day-date" data-date="" data-elementID='date-4'></span>
	  </div>
	  <div class="card day-card" data-itemnum='4'>
		<div class="city">
			<h4 data-elementID="city-4" data-type="text" data-pk="1" data-url="" data-title="City">
				Bundi
			</h4>
		</div>
		<div class="notes">
			<small><p data-elementID="notes-4" data-type="textarea" data-pk="1" data-url="" data-title="Notes" data-rows='4'>
		</p></small></div>
		<div class="hotel">
			<p data-elementID="hotel-4" data-type="text" data-pk="1" data-url="" data-title="Hotel">
				Bundi Hotel
			</p>
		</div>
	  </div>
  </div>

  <div class='day-card-wrapper'>
	  <div class="day-date-wrapper">
			<span class="day-date" data-date="" data-elementID='date-5'></span>
	  </div>
	  <div class="card day-card" data-itemnum='5'>
		<div class="city">
			<h4 data-elementID="city-5" data-type="text" data-pk="1" data-url="" data-title="City">
				Udaipur
			</h4>
		</div>
		<div class="notes">
			<small><p data-elementID="notes-5" data-type="textarea" data-pk="1" data-url="" data-title="Notes" data-rows='4'>
			</p></small>
		</div>
		<div class="hotel">
			<p data-elementID="hotel-5" data-type="text" data-pk="1" data-url="" data-title="Hotel">
				Udaipur Hotel
			</p>
		</div>
	  </div>
	</div>
  </div>
  <button id="addDayButton" class='btn btn-info btn-lg'>Add Day</button>


<div class="modal fade" id="dayModal" tabindex="-1" role="dialog" aria-labelledby="dayModalLabel", aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
			<div class="modal-body">
				<div id="datepicker" class="input-append date input-group" data-date="" data-date-format="dd-mm-yyyy">
					<input class="form-control input-lg" id="dateInputBox" size="16" type="text" value="" placeholder="Date">
				  	<span class="input-group-addon add-on"><i class="fa fa-calendar fa-large"></i></span>
				</div>
			
				<br />
				<input type="text" class="form-control input-lg" id="cityInputBox" name="city" placeholder="City">
				<br />
				<textarea class="form-control input-lg" id="notesInputBox" name="notes" placeholder="Notes"></textarea>
				<br />
				<input type="text" class="form-control input-lg" id="hotelInputBox" placeholder="Hotel">
				<input type="hidden" id="correspondingItem"></input>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-sm pull-left " data-dismiss="modal" id="deleteDayButton">
					<i class="fa fa-trash-o fa-lg"></i> Delete
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Cancel
				</button>
 			    <button type="button" class="btn btn-primary" id="saveDayDetailsButton">
					Save
				</button>
			</div>
		
		</form>
		</div>
	</div>
</div>
