<a href="#carousel-app" class="list-group-item" data-slide-to="<%= result_counter + 1 %>">
	<span class="badge">></span>
	<h4 class="list-group-item-heading"><%= result.title %></h4>
	<p class="list-group-item-text"><%= result.shortText %></p>
</a>