
// returns the number of day cards currently in the trip
function numDays () {
	return parseInt($('#days .day-card').last().data('itemnum'));
}

//adds a day card to the end of the list of day cards with placeholder text 
function addDayCard() {
	var newDayCount = numDays()+1;
	
	w=document.createElement('div');
	$(w).addClass('day-card-wrapper')
		.html("<div class='day-date-wrapper'><span class='day-date' data-date='' >"
		+ getNewDateString()
		+ " </span></div>")		
		.appendTo($("#days"));
	d=document.createElement('div');
	$(d).addClass('card day-card')
	    .html("<div class='city'><h4 data-elementID='city-" + newDayCount + "' data-type='text' data-pk='1' data-url='' data-title='City'></div>" 
				+ "<div class='notes'><small><p data-elementID='notes-" + newDayCount + "' data-type='textarea' data-pk='1' data-url='' data-title='Notes' data-rows='4'></p></small></div>" 
				+ "<div class='hotel'><p data-elementID='hotel-" + newDayCount + "' data-type='text' data-pk='1' data-url='' data-title='Hotel'></p></div>")
		.attr("data-itemnum", newDayCount)
//		.click(function() {
//			setModalDefaultValues(this);
//			$('#dayModal').modal('show');
//		})
	    .appendTo($(w));
	enableInlineEditingForOneDay(newDayCount);
	return d;
}

//turns on inline editing for all elements of a given kind, e.g. all Cities in a trip
//editableOptions is a hash that gets passed to the editable() function for bootstrap-editable
function enableInlineEditing(elementName, numElements, editableOptions) {
	for (var i=1; i <= numElements; i++) {
		$('[data-elementID=' + elementName + '-' + i + ']').editable(editableOptions);
	}
}

//turns on inline editing for all details of a day card, for all day cards in a trip
function enableInlineEditingForAllDays() {
	for (var i=1; i <= numDays(); i++) {
		enableInlineEditingForOneDay(i);
	}
	
	$.each($('.day-card'), function(i, element)
	{
		enableInlineEditingForOneDay($(element).attr('data-itemnum'));
	});
	
}

//turns on inline editing for all details of a day card, for the given dayNum
function enableInlineEditingForOneDay(dayNum) {
	/*day = $('[data-dayID=' + dayNum + ']');
	day.children('.city').editable({
		type: 'text',
		name: 'city',
		pk: dayNum,
		url: '/days/1',
		ajaxOptions: {
			type: 'put',
			dataType: 'json',
		},
		emptytext: 'City', 
		emptyclass: 'text-muted', 
		highlight: '#2B715C'
	});*/
	
	$('[data-elementID=city' + '-' + dayNum + ']').editable({
		type: 'text',
		name: 'city',
		pk: dayNum,
		url: '/days/1',
		ajaxOptions: {
			type: 'put',
			dataType: 'json',
		},
		emptytext: 'City', 
		emptyclass: 'text-muted', 
		highlight: '#2B715C'
	});
	$('[data-elementID=notes' + '-' + dayNum + ']').editable({
		type: 'textarea',
		name: 'notes',
		pk: dayNum,
		url: '/days/1',
		ajaxOptions: {
			type: 'put',
			dataType: 'json',
		},
		emptytext: '<span class="fa fa-plus-square"></span> Add things to see & do', 
		emptyclass: 'text-muted', 
		highlight: '#2B715C'
	});
	$('[data-elementID=hotel' + '-' + dayNum + ']').editable({
		type: 'text',
		name: 'hotel',
		pk: dayNum,
		url: '/days/1',
		ajaxOptions: {
			type: 'put',
			dataType: 'json',
		},
		emptytext: 'Hotel', 
		emptyclass: 'text-muted', 
		highlight: '#2B715C'
	});
}

//updates all subsequent day's dates
//uses moment.js for formatting and incrementing dates
//param newStartDate is of type javascript Date object
function updateDates(newStartDate) {
	if (newStartDate) {
		var d = moment(newStartDate);
		$('.day-date-wrapper').each(function(i, date) {
			$(date).children('span.day-date').html(d.format('ddd, D MMM YYYY') + ' ');
			d.add('days', 1);
		});	
	}
	else {
		$('.day-date:first').html('Today');
	}
}

// returns the trip's currently displayed startDate as a javascript Date object; null if no startDate set
function getCurrentStartDate() {
	var d = new Date($('.day-date:first').html());
	if (d.getDate()) { return d; }
	return null;
}

//returns a date string for the next date in the trip, or empty string if start date hasn't yet been set
function getNewDateString() {
	var start = getCurrentStartDate();
	var newDate;
	var newDateString;
	
	if (start) {
		newDate = new Date (start);
		newDate.setDate(start.getDate() + numDays());
		return newDate.toDateString();
	} 
	return ""	
}
