
.day-card-wrapper {
	float: left;
	height: 275px;
	text-align: center;
	margin: 0px 0px 20px 0px;
}

.card {
	height: 250px;
	position: relative;
}

.day-card {
	 width: 175px;
	 background-color: #B9D7CE;
	 margin: 9px 5px -3px;
	 -webkit-border-radius: 10px;
	 -ms-border-radius: 10px;
	 -moz-border-radius: 10px;
	 border-radius: 10px;
	 cursor: pointer;
}

.hotel-wrapper {
	color: #fff;
	text-shadow: #000 0 1px;
	box-shadow: 5px;
	background: -moz-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #99BDB3 10%, #6A837C 100%);
	background: -webkit-gradient(radial, center top, 0, center top, 553, 
							 color-stop(0, #FFFFFF), 
							 color-stop(0.1, #99BDB3),
							 color-stop(1, #6A837C));
	background: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #99BDB3 10%, #6A837C 100%);
	background: -ms-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #99BDB3 10%, #6A837C 100%);

	border-top: 1px solid #2B715C;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-ms-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-ms-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	height: 25%;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.day-date-wrapper {
	height: 20px;
	padding-top: 10px;
	vertical-align: bottom;
	color: #A6623E;
	cursor: pointer;
}

.city-wrapper h4 {
	padding-top: 10px !important;
}

.hotel-wrapper p {
	margin-top: 13px;
}

.notes-wrapper {
	text-align: left;
	padding: 3px 5px;
	line-height: 14px;
}

#addDayButton {
	margin-top: 30px;
	width: 175px !important;
	background-color: #A6623E !important;
	border: none !important;
}

#tripname {
	cursor: pointer;
	margin-left: 5px;
}

/* overrides to bootstrap-editable.css */

.datepicker {z-index: 1151 !important;}

.editable-input {
	display: block;
}

.editable-buttons {
	margin: 3px 0px !important;
	float: left !important;
}

.editable-click, a.editable-click {
	border-bottom: none !important;
}

div.city-wrapper .text-muted, div.hotel-wrapper .text-muted {
	text-shadow: none;
	color: #2B715C;
}

.card .close {
	font-size: 16px;
}