.card {
	height: 250px;
	float: left;
	position: relative;
}

.day-card {
	 width: 175px;
	 background-color: #B9D7CE;
	 margin: 9px 5px -3px;
	 -webkit-border-radius: 10px;
	 -ms-border-radius: 10px;
	 -moz-border-radius: 10px;
	 border-radius: 10px;
	 text-align: center;
	 cursor: pointer;
}

.hotel {
	 color: #fff;
	 text-shadow: #000 0 1px;
	 box-shadow: 5px;
	 /*background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
	 background: -webkit-gradient(linear, left top, right top,
	                              color-stop(0, rgb(0,0,0)),
	                              color-stop(0.50, rgb(79,79,79)),
	                              color-stop(1, rgb(21,21,21)));
	 background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
	 background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));*/
	
	background: -moz-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #99BDB3 10%, #6A837C 100%);
	background: -webkit-gradient(radial, center top, 0, center top, 553, 
								 color-stop(0, #FFFFFF), 
								 color-stop(0.1, #99BDB3),
								 color-stop(1, #6A837C));
	background: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #99BDB3 10%, #6A837C 100%);
	background: -ms-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #99BDB3 10%, #6A837C 100%);
	
	 /*background-color: #6A837C;*/
	 border-top: 1px solid #2B715C;
	 -webkit-border-bottom-left-radius: 10px;
	 -moz-border-radius-bottomleft: 10px;
	 -ms-border-radius-bottomleft: 10px;
	 border-bottom-left-radius: 10px;
	 -webkit-border-bottom-right-radius: 10px;
	 -ms-border-bottom-right-radius: 10px;
	 -moz-border-radius-bottomright: 10px;
	 border-bottom-right-radius: 10px;
	 height: 30%;
	 position: absolute;
	 bottom: 0;
	 width: 100%;
}

.city p {
	margin-top: 3px;
}

.hotel p {
	margin-top: 10px;
}

.notes {
	text-align: left;
	padding: 3px 5px;
	line-height: 14px;
}

#addDayButton {
	margin-top: 9px;
	width: 175px !important;
	background-color: #A6623E !important;
	border: none !important;
}

/* overrides to bootstrap-editable.css */

.datepicker {z-index: 1151 !important;}

.editable-input {
	display: block;
}

.editable-buttons {
	margin: 3px 0px !important;
	float: left !important;
}

.editable-click, a.editable-click {
	border-bottom: none !important;
}