<% content_for :script do %>
	<script>
		function locationHandler(location) {
			var message = document.getElementById("location");
			message.innerHTML ="<img src='http://maps.google.com/staticmap?center=" + location.coords.latitude + "," + location.coords.longitude + "&size=300x200&maptype=hybrid&zoom=16&key=YOURGOOGLEAPIKEY' />";
			message.innerHTML+="<p>Longitude: " + location.coords.longitude + "</p>";
			message.innerHTML+="<p>Latitude: " + location.coords.latitude + "</p>";
			message.innerHTML+="<p>Accuracy: " + location.coords.accuracy + "</p>";
		}
		navigator.geolocation.getCurrentPosition(locationHandler);
		
		$(document).ready(function() {
			
			$('#carousel-app').carousel({
			  interval: false,
			  wrap: false
			});
			
			$('#find-btn')
			    .click(function () {
			        var btn = $(this)
			        btn.button('loading')
			        setTimeout(function () {
			            btn.button('reset')
			        }, 10000);
					/*$('#carousel-app').carousel('next');*/
					/*$('#places-results').removeClass('hidden').addClass('slideLeft');
					
					$('#places-results').one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
				    function(e) {

				    	$('#finder').addClass('hidden');
						btn.button('reset');
					
				  });*/
			    });
			
			/*$('.list-group-item')
			    .click(function () {
					var resultnum = $(this).data("resultnum");
					$("#place-detail .panel-heading").addClass("hidden");
					$("#result-detail-title-" + resultnum).removeClass('hidden');
					$("#place-detail .panel-body").addClass("hidden");
					$("#result-detail-text-" + resultnum).removeClass('hidden');
					
					$('#place-detail').removeClass('hidden').addClass('slideLeft');
					
					$('#place-detail').one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
				    function(e) {
						$('#places-results').removeClass('slideLeft').addClass('hidden');
				  	});
				
			    });
			/*$('#back-to-results')
			    .click(function () {
					$('#carousel-app').carousel('next');
					/*$('#places-results').removeClass('hidden').addClass('slideRight');
					$('#place-detail').addClass('hidden');

			    });*/
		});
	</script>
<% end %>

<div class="container">
	<div id="carousel-app" class="carousel slide">
		<div class="carousel-inner">
		
		    <div class="item active" id="finder">
				<p id="location">Loading location...</p>
				<a href="#carousel-app" data-slide="next">
			  		<button type="button" data-loading-text="Searching..." class="btn btn-primary btn-lg btn-block" id="find-btn">
					Find Places Nearby
					</button>
				</a>
			</div>

			<div class="item">
				<div class="panel panel-info" id="places-results">
					<div class="panel-heading">
				    	<h3 class="panel-title">Places Nearby</h3>
				  	</div>
					<div class="list-group">
						<a href="#carousel-app" class="list-group-item" data-resultnum="1"  data-slide="next">
					    	<h4 class="list-group-item-heading">Jaya Sri Maha Bodhi</h4>
					    	<p class="list-group-item-text">Jaya Sri Maha Bodhi (Sinhala:ජය ශ්‍රි මහා බොධිය) is a Sacred Fig tree in Anuradhapura, Sri Lanka. It is said... </p>
					  	</a>
						<a href="#carousel-app" class="list-group-item" data-resultnum="2"  data-slide="next">
					    	<h4 class="list-group-item-heading">Jetavanaramaya</h4>
					    	<p class="list-group-item-text">The Jetavanaramaya is a stupa, located in the ruins of Jetavana Monastery in the sacred world heritage city ... </p>
					  	</a>
						<a href="#carousel-app" class="list-group-item" data-resultnum="3"  data-slide="next">
					    	<h4 class="list-group-item-heading">Abhayagiri vihāra</h4>
					    	<p class="list-group-item-text">Abhayagiri Vihāra was a major monastery site of Theravada Buddhism that was situated in Anuradhapura, Sri Lanka. It is one... </p>
					  	</a>
						<a href="#carousel-app" class="list-group-item" data-resultnum="4"  data-slide="next">
					    	<h4 class="list-group-item-heading">Ruwanwelisaya</h4>
					    	<p class="list-group-item-text">The Ruwanwelisaya is a stupa in Sri Lanka, considered a marvel for its architectural qualities and sacred to many... </p>
					  	</a>
					</div>
				</div>
			</div>		

		    <div class="item">
				<div class="panel panel-info" id="place-detail">
					<nav class="navbar navbar-special navbar-default" role="navigation">
						<a class="carousel-control" href="#carousel-app" data-slide="prev">
							<button type="button" class="btn btn-default navbar-btn" id="back-to-results">Back to Results</button>
						</a>
					</nav>
					<div class="panel-heading" id="result-detail-title-1">
				    	<h3 class="panel-title">Jaya Sri Maha Bodhi</h3>
				  	</div>
					<div class="panel-body" id="result-detail-text-1">
				    	<p>Jaya Sri Maha Bodhi (Sinhala:ජය ශ්‍රි මහා බොධිය) is a Sacred Fig tree in Anuradhapura, Sri Lanka. It is said... </p>
					</div>
					<div class="panel-heading hidden" id="result-detail-title-2">
				    	<h3 class="panel-title">Jetavanaramaya</h3>
				  	</div>
					<div class="panel-body hidden" id="result-detail-text-2">
				    	<p>The Jetavanaramaya is a stupa, located in the ruins of Jetavana Monastery in the sacred world heritage city ... </p>
					</div>	
				</div>
			</div>	
			
		</div>
	  		
	</div>	
</div>