<% content_for :script do %>
	<script>
		var latitude;
		var longitude;
		function locationHandler(location) {
			//$('#location').html ="<img src='http://maps.google.com/staticmap?center=" + location.coords.latitude + "," + location.coords.longitude + "&size=300x200&maptype=hybrid&zoom=16&key=YOURGOOGLEAPIKEY' />";
			longitude = location.coords.longitude;
			latitude = location.coords.latitude;
			$('#location').html("Location: " + longitude + ', ' + latitude  + ' (' + location.coords.accuracy + ')');
		}
		navigator.geolocation.getCurrentPosition(locationHandler);
		
		$(document).ready(function() {
			
			$('#carousel-app').carousel({
			  interval: false,
			  wrap: false
			});
			
			$('#find-btn')
			    .click(function () {
			        var btn = $(this)
			        btn.button('loading')
			        setTimeout(function () {
			            btn.button('reset')
			        }, 10000);
					var call = $.ajax({
						url: "test_search.js",
					 	data: { lat: latitude, long: longitude },
						beforeSend: function() {
						    $('#places-results').removeClass('hidden');
						  }
					})
					.done(function() {
						$('.place-result').detach();
						btn.button('reset');
					});
			    });
		});
	</script>
<% end %>

<div class="container">
	<div id="carousel-app" class="carousel slide">
		<div class="carousel-inner">

			<div class="item active" id="places-results-item">
				<button type="button" data-loading-text="Searching..." class="btn btn-primary btn-lg btn-block" id="find-btn">
				Find Places Nearby
				</button>
				<small id="location" class="pull-right">Loading location...</small>
				
				<br>
				
				<div class="panel panel-info hidden" id="places-results">
					<div class="list-group">
					</div>
				</div>
			</div>		

		    <div class="item place">
				<div class="panel panel-info">
					<div class="panel-heading">	
						<a href="#carousel-app" data-slide-to="0">Back to Results </a>						
						<h3 class="panel-title text-center place-heading">Jaya Sri Maha Bodhi</h3>
				  	</div>
					<div class="panel-body">
						<p><bold>Jaya Sri Maha Bodhi</bold> (Sinhala:ජය ශ්‍රි මහා බොධිය) is a Sacred Fig tree in Anuradhapura, Sri Lanka. It is said to be the southern branch from the historical Bodhi tree Sri Maha Bodhi at Bodh Gaya in India under which Lord Buddha attained Enlightenment. It was planted in 288 BC,[1][2][3][4] and is the oldest living human-planted tree in the world with a known planting date.[5] Today it is one of the most sacred relics of the Buddhists in Sri Lanka and respected by Buddhists all over the world.</p>
						<p>The other fig trees that surround the sacred tree protect it from storms and animals such as monkeys, bats, etc.</p>
						<div class="panel-group" id="accordion">
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						          History
						        </a>
						      </h4>
						    </div>
						    <div id="collapseOne" class="panel-collapse collapse in">
						      <div class="panel-body">
						        <p>In the 3rd century BC, it was brought to Sri Lanka by Sangamitta (Pali; Skt.: Sanghamitra) Thera, the daughter of Emperor Asoka and founder of an order of Buddhist nuns in Sri Lanka. In 288 BC [6][7][8][9] it was planted by King Devanampiya Tissa on a high terrace about 6.5 m (21.3 ft) above the ground in the Mahamevnāwa Park in Anuradhapura and surrounded by railings.</p>
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						          Contributions
						        </a>
						      </h4>
						    </div>
						    <div id="collapseTwo" class="panel-collapse collapse">
						      <div class="panel-body">
						        <p>Several ancient kings have contributed in developing this religious site. King Vasabha (65 - 107 AD) has placed four Buddha statues in four side of the sacred tree. King Voharika Tissa (214 - 236 AD) added metallic statues. King Mahanaga (569 - 571 AD) constructed a water canal around the sacred tree and King Sena II (846 - 866 AD) renovated it.[10]</p>
								<p>The present wall was constructed by Ilupandeniye Athtadassi Thero during the reign of King Kirti Sri Rajasinha, to protect it from wild elephants which might have damaged the tree. The height of the wall is 10 ft (3.0 m); with a diameter of 5 ft (1.5 m); length from north to south is 388 ft (118.3 m) and east to west 274 ft (83.5 m).</p>
								<p>First golden fence around the sacred tree was constructed by some Buddhist followers in Kandy under the guidance of Yatirawana Narada Thero in 1969. The iron fence below the above golden fence was created by people of Gonagala under the guidance of Yagirala Pannananda Thero. Second golden fence was constructed under the guidance of then Prime Minister of Sri Lanka, Ranil Wickremasinghe in 2003.[10]</p>
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						          Ancient models
						        </a>
						      </h4>
						    </div>
						    <div id="collapseThree" class="panel-collapse collapse">
						      <div class="panel-body">
						        <p>Two statues of Lord Buddha can be seen in the image-house; a stone-standing-statue is in the right side of the stone wall. The cobra-stone is a very rare creation, showing the embossed figure of cobra. Several monolith heads with plain incisions are in this religious site.</p>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>	
				
				
				
				
			
					
			<div class="item place">
				<div class="panel panel-info">
					<div class="panel-heading">
						<a href="#carousel-app" data-slide-to="1">Back to Results </a>						
				    	<h3 class="panel-title text-center place-heading">Jetavanaramaya</h3>
				  	</div>
					<div class="panel-body">
				    	<p>The Jetavanaramaya is a stupa, located in the ruins of Jetavana Monastery in the sacred world heritage city ... </p>
					</div>	
				</div>
			</div>
			
			<div class="item place">
				<div class="panel panel-info">
					<div class="panel-heading">
						<a href="#carousel-app" data-slide-to="1">Back to Results </a>						
				    	<h3 class="panel-title text-center place-heading">Abhayagiri vihāra</h3>
				  	</div>
					<div class="panel-body">
				    	<p>Abhayagiri Vihāra was a major monastery site of Theravada Buddhism that was situated in Anuradhapura, Sri Lanka. It is one...</p>
					</div>	
				</div>
			</div>
			
			<div class="item place">
				<div class="panel panel-info" id="place-detail">
					<div class="panel-heading">
						<a href="#carousel-app" data-slide-to="1">Back to Results </a>						
				    	<h3 class="panel-title text-center place-heading">Ruwanwelisaya</h3>
				  	</div>
					<div class="panel-body">
				    	<p>The Ruwanwelisaya is a stupa in Sri Lanka, considered a marvel for its architectural qualities and sacred to many... </p>
					</div>	
				</div>
			</div>	
			
		</div>
	  		
	</div>	
</div>